<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body>
  <h1>Login Ya Filthy Animal</h1>
  {{#error}}
    <p>That's not valid, yo!</p>
  {{/error}}
  <form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="submit">Submit That Shit Yo!</button>
  </form>
</body>

</html>
